<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить пользователя в проект</title>
</head>
<body>
<h1>Добавить пользователя в проект</h1>
<form th:action="@{/api/users/projects/add}" method="post">
    <label for="userId">Выберите пользователя:</label>
    <select id="userId" name="userId" required>
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
    </select>

    <label for="projectId">Выберите проект:</label>
    <select id="projectId" name="projectId" required>
        <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
    </select>

    <button type="submit">Добавить</button>
</form>
<p><a th:href="@{/}">Вернуться на главную</a></p>
</body>
</html>
