<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Проекты по ID пользователя</title>
</head>
<body>
<h1>Проекты по ID пользователя</h1>
<form action="#" th:action="@{/api/users-projects/user/{userId}(userId=${userId})}" method="get">
    <label for="userId">ID пользователя:</label>
    <input type="text" id="userId" name="userId" required>
    <br>
    <button type="submit">Получить проекты</button>
</form>
<div>
    <h2>Проекты:</h2>
    <ul th:each="userProject : ${usersProjects}">
        <li th:text="'ID проекта: ' + ${userProject.projectId} + ', ID пользователя: ' + ${userProject.userId}"></li>
    </ul>
</div>
</body>
</html>
